body {
    background-color: #f2f4f8;
}

table.menuAttica {
    width:100%; 
}

table.menuAttica td:hover {
    color: white;
}

    table.menuAttica td {
        width: 15%;
        height: 25px;
        background-color: #113981;
        padding: 15px;
        /*border: 25px solid #6185BD;*/
        border: 20px solid white;
        text-align: center;
        color: rgba(255,255,255,0.8);
        font-weight: bold;
    }

table.menuAttica a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}

    table.menuAttica a:hover {
        text-decoration: none;
        color: white;
    }

.width-full {
    width:100% !important
}

.color-light {
    background-color: white;
    border-color: white; 
}

.color-middle {
    background-color: #6185BD;
    border-color: #32558C;
}

.color-dark {
    background-color: #113981;
    border-color: #32558C;
    
}

.color-dark2 {
    background-color: #32558C;
    border-color: #32558C;
}

div .topmargin {
    margin-top:5px; 
}

div .margin{
    margin :5px; 
}

div .padding {
    padding: 20px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


.menuLeft { 
    margin-bottom:1em; 
}

@media (min-width: 1200px) {
    .container {
        max-width: 1415px;
    }
}