

body {
    background-color: #f2f4f8;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    !important font-weight: 300;
}

// Blue Attica Bank 27, 21, 141
// secondary (Siel) 107, 167, 255

// Gray Attica Bank (Dark) 160, 172, 174
// Secondary Middle 227, 228, 231
// Seconday Light (242, 245, 243)


.attica-fonts, h1.attica-fonts, h2.attica-fonts, h3.attica-fonts, h4.attica-fonts {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    !important font-weight: 300;
}



.width-full {
    width: 100% !important;
    margin-left: 0px;
    margin-right: auto;
}

.color-light {
    background-color: white;
    border-color: white;
}

.color-middle {
    background-color: rgb(107,167,255);
    /*    border-color: #32558C; */
}

button.color-middle:hover {
    background-color: rgb(107,167,255);
    opacity: 0.9
}

.color-dark {
    background-color: rgb(27,71,141);
    border-color: #32558C;
}

button.color-dark:hover {
    opacity: 0.9
}

.color-dark2 {
    background-color: #32558C;
    border-color: #32558C;
}

div .topmargin {
    margin-top: 5px;
}

div .margin {
    margin: 5px;
}

div .padding {
    padding: 20px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


.menuLeft {
    margin-bottom: 1em;
}

    .menuLeft img:hover {
        opacity: 0.9;
    }

.askCEO {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding: 10px;
}

img.askCEO:hover {
    opacity: 0.9
}

.weWantToHear {
    color: black;
    border: solid;
    border-width: 0px 3px 0px 0px;
    border-color: white;
    padding: 10px;
}


.newsButton {
    position: absolute;
    margin-left: 20px;
    margin-top: -70px;
    max-width: 80%;
}

    .newsButton:hover {
        opacity: 0.9;
    }


.newsDivInner {
    padding-bottom: 100px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.newsDiv {
    margin-bottom: 100px;
}

.newsFooter {
    height: 100px;
    background-color: white;
}







/* changes to IntranetOslo css */
/* top menu changes */
.ms-core-listMenu-root {
    background-color: #fff;
}



.mainMenu li a {
    background-color: rgb(27,71,141) !important;
    color: rgba(255,255,255,1) !important;
}

    .mainMenu li a:hover {
        background-color: rgb(27,71,141) !important;
        opacity: 0.8;
        /*color: white !important; */
    }

.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
    border-radius: 190px;
    margin: 0px 10px 20px 10px;
}

*, ::after, ::before {
    box-sizing: content-box;
}

.bootstrap-box-sizing *, ::after, ::before {
    box-sizing: border-box;
}

#siteIcon {
    width: 90%;
    max-width: 2650px !important;
}
/* #titleAreaBox {
	width:90%;
} */


.small-header {
    font-weight: bold;
}

.welcome-parent {
    position: relative;
    width: 100%;
}

.welcome-bottom-left {
    position: absolute;
    color: rgb(27,21,141);
    font-size: 1.6em;
    font: "Helvetica Neue";
    left: 40px;
    top: 40%;
    bottom: auto;
    max-width: 40%;
}

.custom-dialogForm {
    max-width: 80%;
}

}

@media (min-width: 1200px) {
    .container {
        max-width: 1900px;
    }
}

@media (max-width: 1600px) {
    .welcome-bottom-left {
        font-size: 1.4em;
        left: 30px;
        top: 30%;
    }
}

@media (max-width: 1200px) {
    .welcome-bottom-left {
        font-size: 1.2em;
        left: 30px;
        top: 20%;
    }
}


@media (max-width: 800px) {
    .welcome-bottom-left {
        font-size: 0.8em;
        left: 20px;
        top: 10%;
    }
}
